<div class="wrapper">
  <h2>
    Car Shows Lookup
  </h2>
  <div *ngIf="loaded" class="content">
    <mat-card *ngIf="error; else showData" class="error-card">
      {{ error }}
    </mat-card>
    <ng-template #showData>
      <mat-accordion *ngIf="carShows?.length > 0; else noData">
        <mat-expansion-panel *ngFor="let carShow of carShows">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ carShow.make }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-expansion-panel *ngFor="let car of carShow.cars">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ car.model }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let show of car.shows">
                {{ show }}
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-expansion-panel>
      </mat-accordion>
      <ng-template #noData>
        <mat-card class="no-data-card">
          No car shows were found, please try again.
        </mat-card>
      </ng-template>
    </ng-template>
  </div>
</div>
