@import "material";

.wrapper {
  width: 100%;
  text-align: center;
  padding-top: 20px;

  h2 {
    margin-bottom: 50px;
  }
}

.no-data-card {
  background-color: #ffd62f;
}

.error-card {
  background-color: #ff565d;
}
